
.vs/LolitomsLogic/DesignTimeBuild/.dtbcache
.vs/LolitomsLogic/v16/.suo
.vs/LolitomsLogic/v16/Server/sqlite3/db.lock
.vs/LolitomsLogic/v16/Server/sqlite3/storage.ide
.vs/LolitomsLogic/v16/Server/sqlite3/storage.ide-shm
.vs/LolitomsLogic/v16/Server/sqlite3/storage.ide-wal
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
.vs/slnx.sqlite
obj/Debug/net45/LolitomsLogic.csprojAssemblyReference.cache
*.cache
